@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4 cursor-pointer;
  }

  html {
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
  }

  table {}

  th,
  td {
    @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
  }

  thead {
    @apply bg-neutral-100;
  }

  th {
    @apply font-semibold;
  }

  a {
    @apply text-indigo-500 hover:underline;
  }
}

.custom-toast {
  background-color: #475569;
  /* slate-600 */
  color: #f1f5f9;
  /* neutral-100 */
}